<div class="d-flex align-items-lg-end align-items-sm-center m-0 py-2 pr-2 main-color shadow">
    <div class="col-2 pl-1">
        <img src="../../assets/svgs/icons8-music.svg" style="max-width: 60px; max-height: 30px"
            class="cur-pointer col-2 pl-1" />
        <span class="font-larger font-weight-bold">SoundNode</span>
    </div>
    <div class="col-5 offset-1">
        <input type="text" class="search-icon top-header-search outline-none font-14px align-bottom"
            placeholder="Search a Song" />
    </div>
    <div class="ml-auto" ngbDropdown>
        <img src="../../assets/svgs/icons8-settings.svg" style="max-width: 40px; max-height: 25px;" ngbDropdownToggle id="settings" class="cur-pointer">
        <ul ngbDropdownMenu aria-labelledby="settings" 
        class="main-color text-light img-thumbnail settings-click">
            <li><a routerLink="" class="text-light text-decoration-none p-2">Profile</a></li>
            <li><a routerLink="" class="text-light text-decoration-none p-2">Settings</a></li>
            <li><a routerLink="" class="text-light text-decoration-none p-2">Logout</a></li>
        </ul>
    </div>
</div>