<div class="d-flex align-items-lg-end align-items-sm-center m-0 pr-2 main-color shadow py-2 header"
style="z-index: 100;">
    <div class="col-2 d-flex pl-1 align-items-end">
        <img src="assets/images/icons8-spotify-52.png"
            class="cur-pointer col-2 pl-1 img-fluid" />
        <span class="font-21px font-weight-bold">SoundNode</span>
    </div>
    <div class="col-5 offset-1">
        <input type="text" class="search-icon top-header-search outline-none font-14px align-bottom"
            placeholder="Search a Song" />
    </div>
    <div class="ml-auto" ngbDropdown>
        <img [src]="isLoggedIn ? userImageUrl : 'assets/svgs/icons8-settings.svg'" style="max-width: 40px;" ngbDropdownToggle id="settings" class="cur-pointer"
        [ngStyle]="{'max-height': isLoggedIn ? '35px' : '35px', 
        'border-radius': isLoggedIn ? '50%': 'none'}">
        <ul ngbDropdownMenu aria-labelledby="settings" 
        class="main-color text-light img-thumbnail settings-click">
            <li class="py-1"><a routerLink="" class="text-light text-decoration-none p-3">Profile</a></li>
            <li class="py-1"><a routerLink="" class="text-light text-decoration-none p-3">Settings</a></li>
            <li class="py-1"><a routerLink="" class="text-light text-decoration-none p-3" (click)="Login()" *ngIf="!isLoggedIn">Login</a></li>
            <li class="py-1"><a routerLink="" class="text-light text-decoration-none p-3" (click)="Logout()" *ngIf="isLoggedIn">Logout</a></li>
        </ul>
    </div>
</div>