<div class="left-nav-bg-color height-90 menu-compressed animate-left-nav">
    <ul class="list-unstyled m-0 text-white">
        <li class="d-flex flex-col-reverse justify-content-end">
            <img src="../../assets/images/icons8-menu-squared-96.png" 
            class="cur-pointer"
            id="expandIcon"
            (click)="toggleMenu($event)">
        </li>
        <li class="d-flex align-items-center cur-pointer" routerLink="">
            <img src="../../assets/images/icons8-trophy-128.png">
            <span class="pl-3 font-weight-bold">Top50</span>
        </li>
        <li class="d-flex align-items-center cur-pointer" routerLink="">
            <img src="../../assets/images/icons8-microsoft-stream-2019-96.png">
            <span class="pl-3 font-weight-bold">Stream</span>
        </li>
        <li class="d-flex align-items-center cur-pointer" routerLink="">
            <img src="../../assets/images/icons8-thumbs-up-96.png">
            <span class="pl-3 font-weight-bold">Likes</span>
        </li>
        <li class="d-flex align-items-center cur-pointer" routerLink="">
            <img src="../../assets/images/icons8-microsoft-groove-48.png">
            <span class="pl-3 font-weight-bold">Tracks</span>
        </li>
        <li class="d-flex align-items-center cur-pointer" routerLink="">
            <img src="../../assets/images/icons8-music-folder-64.png">
            <span class="pl-3 font-weight-bold">Playlist</span>
        </li>
    </ul>
</div>
