<div class="left-nav-bg-color h-100 menu-compressed animate-left-nav left-nav">
    <ul class="list-unstyled m-0 text-white">
        <li class="d-flex flex-col-reverse justify-content-end">
            <img src="assets/images/icons8-menu-50.png" 
            class="cur-pointer"
            id="expandIcon"
            (click)="toggleMenu($event)"
            style="height: 30px; width: 25px;">
        </li>
        <li class="d-flex align-items-center cur-pointer" routerLink="charts/browse">
            <img src="assets/images/icons8-fabric-sample-48.png">
            <span class="pl-4 font-weight-bold pr-3">Charts</span>
        </li>
        <li class="d-flex align-items-center cur-pointer" routerLink="">
            <img src="assets/images/icons8-wi-fi-64.png">
            <span class="pl-4 font-weight-bold">Stream</span>
        </li>
        <li class="d-flex align-items-center cur-pointer" routerLink="">
            <img src="assets/images/icons8-good-quality-64.png">
            <span class="pl-4 font-weight-bold">Likes</span>
        </li>
        <li class="d-flex align-items-center cur-pointer" routerLink="">
            <img src="assets/images/icons8-musical-notes-48.png">
            <span class="pl-4 font-weight-bold">Tracks</span>
        </li>
        <li class="d-flex align-items-center cur-pointer" routerLink="">
            <img src="assets/images/icons8-playlist-48.png">
            <span class="pl-4 font-weight-bold">Playlist</span>
        </li>
    </ul>
</div>
