<div class="form-group d-flex h-100">
    <div class="d-flex flex-column m-auto">
        <div class="d-flex align-items-center m-auto">
            <img src="assets/images/icons8-spotify-52.png" class="mr-2">
            <div class="login-gradient display-3">SOUNDNODE</div>
        </div>
        <p class="text-white font-italic m-auto pb-4">"Tune into Reality!"</p>
        <button class="btn btn-dark cur-pointer text-white m-auto" (click)="LoginCodeFlow()">
            Login
        </button>
        <div class="font-12px text-secondary">
        <p class="mb-2 p-0">IMP:</p>
        <li class="p-0 mb-1">
            This application uses Spotify Api...so any changes here in the application will
            reflect in the spotify application.
        </li>
        <li class="">
            This Application is for Testing Only.
        </li>
        </div>
    </div>
</div>