

@media only screen and (min-width: 700px){
    .header-image{
        height: 400px;
        // background-position-y: -140px;
    }
}

@media only screen and (max-width: 700px){
    .header-image{
        height: 250px;
    }
}

@media only screen and (min-width: 1080px) {
    .header-image{
        background-position-y: 80%;
    }
}

.chart-shadow{
    letter-spacing: 3px;
    text-shadow: 3px 2px 6px #6161616c;
}